div.responsive-table-wrapper {
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: auto;
}
div.responsive-table-wrapper::-webkit-scrollbar {
  height: 6px;
}
div.responsive-table-wrapper::-webkit-scrollbar-thumb {
  background-color: rgba(var(--rgb-color-foreground) / 0.2);
}
div.responsive-table-wrapper::-webkit-scrollbar-track {
  background-color: rgba(var(--rgb-color-foreground) / 0.05);
}
table.responsive-table {
  width: 100%;
}
table.responsive-table th, table.responsive-table td {
  white-space: nowrap;
  vertical-align: middle;
}
table.responsive-table th:first-child, table.responsive-table td:first-child {
  width: 100%;
}
table.responsive-table tr:nth-child(even) th, table.responsive-table tr:nth-child(even) td {
  background-color: rgba(var(--rgb-color-foreground) / 0.05);
}
table.responsive-table tr:first-child th {
  background-color: rgba(var(--rgb-color-foreground) / 0.2);
}
